body {
  margin: 0;
  padding: 0;
}

#paper {
  cursor: url(images/cursor/transparent.png), default;
}

#controls {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 3px;
  border: 5px solid red;
}

#lag_indicator {
  text-align: center;
  background-color: #ccc;
}

#lag_indicator.lag {
  color: white;
  background-color: red;
}

#log_container {
  margin-top: 2em;
}
