COLOR_TEXT_LIGHT = #a2b5c6
COLOR_TEXT_GRAY = #68727b

linear-gradient()
  background: -moz-linear-gradient(arguments)
  background: -webkit-linear-gradient(arguments)
  background: -o-linear-gradient(arguments)

background-size-cover()
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

playbutton(fontSize)
  font-size: fontSize
  padding-left: 15px
  padding-right: 15px
  color: #fff2fa
  linear-gradient top, #e5983c 0%, #a63500 100%
  font-weight: normal
  border: 1px solid #f7b465

// Scrollbars, from http://jsfiddle.net/julienhe/xg4V7/ and slightly simplified
lion-scrollbars()
  /* OSX Lion CSS3 Scrollbars */
  /* Inspired by http://www.screenfeed.fr/blog/personnaliser-les-scrollbars-webkit-0366/ */

  /* Scrollbars */
  ::-webkit-scrollbar
    width: 17px
    height: 17px
    margin-left: 10px

  /* Background */
  ::-webkit-scrollbar-track-piece
    background: transparent none
    border: solid 4px transparent
    border-right-width: 8px
    margin: 4px

  /* Bottom bar background */
  ::-webkit-scrollbar-track-piece:horizontal
    border-right-width: 4px
    border-bottom-width: 8px

  /* Bar element (thumb) */
  ::-webkit-scrollbar-thumb
    border: solid 0 transparent
    border-right-width: 5px
    border-left-width: 5px
    -webkit-border-radius: 9px 6px
    -webkit-box-shadow: inset 0 0 0 6px rgba(200,200,200,0.3)

  /* Darken rollover */
  ::-webkit-scrollbar-thumb:hover
    -webkit-box-shadow: inset 0 0 0 1px rgb(161,161,161), inset 0 0 0 6px rgb(161,161,161)

  /* Horizontal thumb */
  ::-webkit-scrollbar-thumb:horizontal
    border-right-width: 0
    border-left-width: 0
    border-top-width: 5px
    border-bottom-width: 5px
    -webkit-border-radius: 6px 9px

  /* Corner */
  ::-webkit-scrollbar-corner
    background: transparent none



@font-face {
    font-family: 'HeydingsIconsRegular';
    src: url('/fonts/heydings_icons-webfont.eot');
    src: url('/fonts/heydings_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/heydings_icons-webfont.woff') format('woff'),
         url('/fonts/heydings_icons-webfont.ttf') format('truetype'),
         url('/fonts/heydings_icons-webfont.svg#HeydingsIconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

medal-with-text()
  // Align middle of the medal plate with text
  position: relative
  top: -7px
  width: 34px
  padding-right: 6px


body
  margin: 0
  padding: 0
  font-family: "Century Gothic", sans-serif
  cursor:default
  user-select: none
  -webkit-touch-callout: none
  -webkit-user-select: none
  background-color: black
  lion-scrollbars()



input[type=text]
input[type=password]
  color: #eee
  border: 1px solid #444
  border-radius: 5px
  background: rgba(black, 0.5)

  margin: 0
  font-size: inherit
  padding: 3px
  width: 150px

  &.large
    padding: 7px
    font-size: 14px


label
  margin-right: .8em
  padding-bottom: 2px
  font-size: 11px
  color: COLOR_TEXT_LIGHT
  text-transform: uppercase

.label
  margin-right: .8em
  color: COLOR_TEXT_LIGHT
  text-transform: uppercase
  font-weight: normal


.menu-heading
  font-size: 14px
  text-transform: uppercase
  color: white
  margin-top: 0
  margin-bottom: 16px

.achievement
  text-transform: uppercase
  font-size: 11px
  color: COLOR_TEXT_GRAY

  .medal
    opacity: 0.4
    medal-with-text()

  &.achieved
    .medal
      opacity: 1
    .title
      color: #9D8A66
    .description
      color: COLOR_TEXT_LIGHT


p.error
  color: #a20e0f
  font-weight: bold

label.large
  font-size: 14px
  color: #fff

img.profile
  width: 140px
  height: 140px
  border: 1px solid #525e67

img.profile.small
  width: 32px
  height: 32px

th
  color: #bccddc

input[type=submit]
button
  font-family: "Century Gothic", sans-serif
  color: #b7d1dc
  border-radius: 3px
  box-shadow: 0 0 5px #000
  font-size: 12px

  // TODO mixin
  border: 1px solid #21619b
  background: #11519b8
  linear-gradient top, #11519b 0%, #013770 100%

  &:hover
  &:focus
    border-color: #3f7fb9
    color: #fff
    background: #4281bc
    linear-gradient top, #4281bc 0%, #195992 100%

  &.error
  &.error
    // TODO Lukasz tune colour
    background: red
    linear-gradient top, red 0%, red 100%

  &[disabled]
    linear-gradient top, #4a6f9a 0%, #2c4e71 100%

    &:hover
    &:focus
      color: #b7d1dc
      border: 1px solid #21619b


.screen
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0


a
  &:link
  &:visited
    color: #207CE6
    text-decoration: none
  &:hover
    text-decoration: underline


a.glow
a.glow:hover
a.glow:focus
  text-decoration: none
  color: inherit
  text-shadow: none
  -webkit-transition: 500ms linear 0s
  -moz-transition: 500ms linear 0s
  -o-transition: 500ms linear 0s
  transition: 500ms linear 0s
  outline: 0 none

a.glow:hover
a.glow:focus
  color: #fff
  text-shadow: -1px 1px 3px #e4a0cb, 1px -1px 3px #fff
  //linear-gradient top, #e4a0cb 0%, #704268 100%


// For centering divs vertically: (from http://stackoverflow.com/a/6182661)
//   div.centered-table
//     div.centered-table-cell
//       inner div which is now centered (e.g. a .box)
.centered-table
  display: table
  position: absolute
  width: 100%
  height: 100%

.centered-table-cell
  display: table-cell
  width: 100%
  vertical-align: middle


.box
  position: relative
  text-align: left
  border: 3px solid #525e67


.box
  margin-left: auto
  margin-right: auto
  padding: 10px
  border: 3px solid #525e67
  background-color: rgba(black, 0.7)


.logo
  background-image: url('/images/ui/logo.png')
  background-size-cover()
  height: 37px


.logo.left
  width: 160px
  display: inline-block


.spinner
  display: inline-block
  vertical-align: middle

.waiting-label
  margin-top: 15px
  margin-bottom: 40px
  font-size: 15px
  color: #bccddc
  font-variant:small-caps
  position: relative

  .autostart-label
    position: absolute
    top: 0
    right: 0

#app
  &.hidden-on-startup
    visibility: hidden

stats-inline-block()
  display: inline-block
  vertical-align: middle
  margin-right: 20px


#menu
  background-image: url('/images/ui/bgnologo.jpg')
  background-position: center center
  background-size-cover()
  z-index: 1000

  #login .box
    width: 180px
    height: 250px

    input
      &[type=password]  // Workaround for https://github.com/LearnBoost/stylus/issues/730
      &[type=text]
        display: block
        margin: 0 auto
        width: 90%

    .signup-question
      margin-top: 20px
      margin-left: 3px
      font-size: 12px

  .menu-heading
    margin-bottom: 1.2em

  #mainmenu
  #assembly

    .box
      width: 600px
      min-height: 380px

    .nick
      position: absolute
      top: 10px
      right: 15px
      text-align: right
      display: inline-block
      font-size: 24px
      color: #fff
      font-variant: small-caps

      .username
        text-transform: capitalize

      .rating
        font-size: 28px
        font-variant: small-caps

      #navigation
        font-family:'HeydingsIconsRegular'
        display: inline-block
        color: #bccddc
        font-size: 24px
        font-variant: normal

    .mainmenu-content
      padding-left: 30px
      padding-top: 20px
      font-size: 11px
      color: COLOR_TEXT_GRAY

    #profile
      .picture
      .stats
        stats-inline-block()

    #search
      .stats
      .picture
        stats-inline-block()

    #achievements
      table.medals
        width: 80%

    #settings
      font-size: 11px

      .section
        padding-top: 20px
        .label
          color: white
          font-size: 14px

    #summary
      table.scores
        margin: 0 auto
        border-collapse: separate
        border-spacing: 10px 5px
        text-align: center

      table.earned-achievements
        margin-top: 10px

        .medal
          medal-with-text()

    .buttons
      position: absolute
      bottom: 10px
      right: 15px
      diplay: inline-block

    .assembly-content
      padding-left: 30px
      diplay: inline-block

    .lobby-chat-container
      position: absolute
      top: 100px
      right: 20px
      width: 200px
      color: white

      .lobby-chat
        overflow-y: scroll
        height: 160px
        margin-top: 10px
        p
          font-size: 11px
          margin: .4em .1em
          color: COLOR_TEXT_LIGHT

    .search-result
      padding:30px


    .playbutton
      playbutton(24px)

      &:hover
      &:focus
        linear-gradient top, #fcd468 0%, #e16202 100%

    .leavebutton
      font-size: 24px
      //linear-gradient top, #c50304 0%, #560003 100%
      //linear-gradient top, #ee0608 0%, #920006 100%

      //border: 1px solid #d52122
      font-weight: normal

      &:hover
      &:focus
        //linear-gradient top, #ee0608 0%, #920006 100%

#game
  background-image: url('/images/ui/gamebg.jpg')
  background-position: center center
  background-size-cover()
  z-index: 500

#paper-container
  text-align: center

  #paper
    display: inline-block

    svg
      cursor: url('/images/cursor/transparent.png'), default




#dev-panel
  position: absolute
  top: 0
  right: 0
  bottom: 0
  padding: 3px
  border: 5px solid red
  background: white

  .divlabel
    text-align: right
    color: red
    font-size: .8em
    font-weight: normal

  .lag_indicator
    text-align: center
    background-color: #ccc

    &.lag
      color: white
      background-color: red
