body {
  margin: 0;
  padding: 0;

  /* Turns off ALL selections.
     For some reason, just setting it on #paper doesn't work.
     Re-enabling it for everything else doesn't work either. */
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

#paper {
  display: inline-block;
  cursor: url(images/cursor/transparent.png), default;
}

#controls {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 3px;
  border: 5px solid red;
}

#lag_indicator {
  text-align: center;
  background-color: #ccc;
}

#lag_indicator.lag {
  color: white;
  background-color: red;
}

#log_container {
  margin-top: 2em;
}
