linear-gradient()
  background: -moz-linear-gradient(arguments)
  background: -webkit-linear-gradient(arguments)
  background: -o-linear-gradient(arguments)

background-size-cover()
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

playbutton(fontSize)
  font-size: fontSize
  padding-left: 15px
  padding-right: 15px
  color: #fff2fa
  //linear-gradient top, #e4a0cb 0%, #704268 100%
  linear-gradient top, #e5983c 0%, #a63500 100%
  font-weight: normal
  border: 1px solid #f7b465

@font-face {
    font-family: 'HeydingsIconsRegular';
    src: url('fonts/heydings_icons-webfont.eot');
    src: url('fonts/heydings_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/heydings_icons-webfont.woff') format('woff'),
         url('fonts/heydings_icons-webfont.ttf') format('truetype'),
         url('fonts/heydings_icons-webfont.svg#HeydingsIconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

span.caps
  text-transform: uppercase




body
  margin: 0
  padding: 0
  font-family: Century Gothic, sans-serif
  cursor:default
  user-select: none
  -webkit-touch-callout: none
  -webkit-user-select: none
  background-color: black


input[type=text]
input[type=password]
  color: #000
  padding: 7px
  font-size: 14px
  border: 1px solid #c0c0c0
  border-radius: 5px

input.small
  font-size: 10px
  color: #000
  padding: 3px
  border: 1px solid #c0c0c0
  border-radius: 5px

label
  color: #68727b
  display: block
  padding-bottom: 2px
  font-size: 11px
  text-transform: uppercase


label.large
  font-size: 14px
  color: #fff

label.small
  color: #a2b5c6

label.medium[type=grey]
  color: #68727B

img.profile
  width: 140px
  height: 140px
  border: 1px solid #525e67

img.profile.small
  width: 32px
  height: 32px

img.medal
  width: 34px

img.medal[type=grey]
  opacity: 0.4

th
  color: #bccddc

tr
  color: #68727b
  font-size: 12px
  font-variant:small-caps

input[type=submit]
button
  font-family: Century Gothic, sans-serif
  color: #b7d1dc
  border-radius: 3px
  box-shadow: 0 0 5px #000
  font-size: 12px

  // TODO mixin
  border: 1px solid #21619b
  background: #11519b8
  linear-gradient top, #11519b 0%, #013770 100%

  &:hover
  &:focus
    border-color: #3f7fb9
    color: #fff
    background: #4281bc
    linear-gradient top, #4281bc 0%, #195992 100%

  &.error
  &.error
    // TODO Lukasz tune colour
    background: red
    linear-gradient top, red 0%, red 100%

  &.play
    color: #9fc181

button[disabled]
  linear-gradient top, #4a6f9a 0%, #2c4e71 100%

  &:hover
    color: #b7d1dc
    border: 1px solid #21619b

.screen
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0


a.glow
a.glow:hover
a.glow:focus
  text-decoration: none
  color: inherit
  text-shadow: none
  -webkit-transition: 500ms linear 0s
  -moz-transition: 500ms linear 0s
  -o-transition: 500ms linear 0s
  transition: 500ms linear 0s
  outline: 0 none

a.glow:hover
a.glow:focus
  color: #fff
  text-shadow: -1px 1px 3px #e4a0cb, 1px -1px 3px #fff
  //linear-gradient top, #e4a0cb 0%, #704268 100%


// For centering divs vertically: (from http://stackoverflow.com/a/6182661)
//   div.centered-table
//     div.centered-table-cell
//       inner div which is now centered (e.g. a .box)
.centered-table
  display: table
  position: absolute
  width: 100%
  height: 100%

.centered-table-cell
  display: table-cell
  width: 100%
  text-align: center
  vertical-align: middle


.box
  position: relative
  text-align: left
  border: 3px solid #525e67

  .centered-table-cell
    display: table-cell
    vertical-align: middle


.box
  margin-left: auto
  margin-right: auto
  padding: 10px
  border: 3px solid #525e67
  background-color: rgba(black, 0.7)


.logo
  background-image: url(images/ui/logo.png)
  background-size-cover()
  height: 37px


.logo.left
  width: 160px
  display: inline-block


#spinner
#spinner-label
  display: inline-block
  vertical-align: middle
  padding-top: 15px
  padding-bottom: 40px
  font-size: 15px
  color: #bccddc
  font-variant:small-caps

#profile-picture
#profile-stats
  display: inline-block
  vertical-align: middle
  padding-bottom: 0px
  padding-right: 20px


#login-overlay
  background-image: url(images/ui/bgnologo.jpg)
  background-position: center center
  background-size-cover()
  z-index: 1000

  #login-window
    width: 180px
    height: 250px

  #assembly-window
  #lobby-window
    width: 600px
    min-height: 380px

    #lobby-content
      padding-left: 30px
      padding-top: 20px
      color: #bccddc
      //color: rgb(30%,70%,0%)
      font-size: 11px
      width: 70%

    #assembly-content
      padding-left: 30px

    #search-result
      padding:30px


    #nick
      text-align: right
      display: inline-block
      position: absolute
      top: 10px
      right: 15px
      font-size: 24px
      color: #fff
      font-variant: small-caps

    #lobby-label
      font-size: 16px
      font-variant: small-caps


    #rating
      font-size: 28px
      font-variant: small-caps

    #navigation
      font-family:'HeydingsIconsRegular'
      display: inline-block
      color: #bccddc
      font-size: 24px
      font-variant: normal

    #buttons
      position: absolute
      bottom: 10px
      right: 15px
      diplay: inline-block

    #playbutton
      playbutton(24px)


    #startbutton
      playbutton(24px)

    #startbutton:hover
    #playbutton:hover
      linear-gradient top, #fcd468 0%, #e16202 100%

    #leavebutton
      font-size: 24px
      //linear-gradient top, #c50304 0%, #560003 100%
      //linear-gradient top, #ee0608 0%, #920006 100%

      //border: 1px solid #d52122
      font-weight: normal

    #leavebutton:hover
      //linear-gradient top, #ee0608 0%, #920006 100%

#game
  background-image: url(images/ui/gamebg.jpg)
  background-position: center center
  background-size-cover()
  z-index: 500

#paper
  text-align: center
  cursor: url(images/cursor/transparent.png), default


#controls
  position: absolute
  top: 0
  right: 0
  bottom: 0
  padding: 3px
  border: 5px solid red
  background: white

  .divlabel
    text-align: right
    color: red
    font-size: .8em
    font-weight: normal

#lag_indicator
  text-align: center
  background-color: #ccc


#lag_indicator.lag
  color: white
  background-color: red


#log_container
  margin-top: 2em

